{
  "presets": [
    "@babel/env",
    "@babel/typescript",
    "@babel/react",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    ["@babel/proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }],
    "@babel/proposal-object-rest-spread",
    "@babel/transform-runtime"
  ]
}
