# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# garbage
.DS_Store
*.log*

# editor folders
.vscode

# yalc (local testing)
.yalc/
yalc.lock

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
