@tailwind base;
@tailwind components;

:root {
  font-family: Roboto, sans-serif;
  word-break: break-word;
  overflow-wrap: break-word;
}

.transition-normal {
  transition: 0.2s;
}

.button-solid {
  @apply px-4 py-2 bg-semiblack-25 transition-normal;
}

.button-solid:hover {
  @apply bg-semiblack-50;
}

.input-base {
  @apply px-4 py-2 bg-semiblack-25 transition-normal block w-full;
}

.input {
  @apply input-base;
}

.input:hover {
  @apply bg-semiblack-50;
}

.input:focus {
  @apply bg-semiblack-50 outline-none;
}

.select {
  @apply input-base;
}

.select:hover {
  @apply bg-semiblack-50;
}

.select:focus {
  @apply bg-semiblack-50 outline-none;
}

.anchor {
  @apply cursor-pointer opacity-75 transition-normal underline;
}

.anchor:hover {
  @apply opacity-100;
}

.raised-panel {
  @apply bg-midnight-700 shadow;
}

@tailwind utilities;
