body {
	color: theme("colors.clouds");
	background: theme("colors.midnight.2");
	word-break: break-word;
	letter-spacing: 0.1px;
}

button,
input,
textarea,
select {
	display: block;
	text-align: left;
	border-radius: 0;
	letter-spacing: inherit;
}

.js-focus-visible :focus:not(.focus-visible),
.js-focus-visible :focus:not([data-focus-visible-added]) {
	outline: none;
}

/* prettier-ignore */
@keyframes rainbow {
		from { color: #6666ff }
		10% { color: #0099ff }
		50% { color: #00ff00 }
		75% { color: #ff3399 }
		100% { color: #6666ff }
	}

.rainbow-animation {
	animation: rainbow 5s infinite;
}

.transition-delay-300 {
	transition-delay: 300ms;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.radix-animation-fade[data-state="open"],
[data-state="open"] .radix-animation-fade {
	animation: fade-in 0.3s;
}
.radix-animation-fade[data-state="closed"],
[data-state="closed"] .radix-animation-fade {
	animation: fade-out 0.3s;
}

@keyframes zoom-in {
	from {
		transform: scale(0.95);
	}
	to {
		transform: scale(1);
	}
}

@keyframes zoom-out {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.95);
	}
}

.radix-animation-zoom[data-state="open"],
[data-state="open"] .radix-animation-zoom {
	animation: zoom-in 0.3s;
}
.radix-animation-zoom[data-state="closed"],
[data-state="closed"] .radix-animation-zoom {
	animation: zoom-out 0.3s;
}

@keyframes slide-left-in {
	from {
		transform: scale(0.95);
	}
	to {
		transform: scale(1);
	}
}

@keyframes slide-left-out {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0.95);
	}
}

.radix-animation-zoom[data-state="open"],
[data-state="open"] .radix-animation-zoom {
	animation: zoom-in 0.3s;
}
.radix-animation-zoom[data-state="closed"],
[data-state="closed"] .radix-animation-zoom {
	animation: zoom-out 0.3s;
}

@keyframes rise {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-3px);
	}
}

.bounce-animation {
	animation: rise 0.5s alternate infinite;
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

/* prettier-ignore */
@keyframes spin {
		0% { transform: rotate(0deg) }
		25% { transform: rotate(calc(270deg * 1)) }
		50% { transform: rotate(calc(270deg * 2)) }
		75% { transform: rotate(calc(270deg * 3)) }
		100% { transform: rotate(calc(270deg * 4)) }
	}

.spin-animation {
	animation: spin 3.7s infinite;
}

.prose {
	display: flow-root;
}

.prose > * + * {
	margin-top: 1rem;
}

.prose a {
	text-decoration: underline;
	transition: 0.3s;
}

.prose a:hover,
.prose a:focus {
	color: theme("colors.blue.400");
}
